:root {
  --text-color: #f9f9f9 !important;
  --background-color: #121212 !important;
  --color-text-gray: #e1e1e1 !important;
  --divider-color: #ededed !important;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  color: var(--text-color) !important;
}

body {
  background-color: var(--background-color) !important;
}
